html, body {
    background-color: #292929;
    color: #fff;
    font-family: 'Abel', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.container-fluid {
  padding: 0;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
}

.content {
    text-align: center;
}

.content-body {
  text-align: center;
}

.title {
    font-size: 70px;
    margin-bottom: 30px;
}

.title-body {
    font-size: 70px;
    margin-bottom: 30px;
    padding-top: 5%;
    padding-left: 10%;
}

.links > a {
    color: #c7c7c7;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.arrowScroll {
  position: absolute;
  bottom: 0;
  margin-bottom: 4%;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
}

.arrowScroll:hover {
  opacity: 50%;
}

.arrowScroll span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}
 .arrowScroll span:nth-child(1) {
  transform: translate(-10px, -10px);
}

/****** Sections ******/
.sec-top {
  height: 100vh;
  width: 100%;
  background: url("../images/sergei-akulich--heLWtuAN3c-unsplash.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-sizing: border-box;
}

.overlay {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
  position: absolute;
}

.sec-body {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.sec-body2 {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background: white;
  color: #292929;
}

footer {
  padding: 100px;
}

/***** Navbar *****/
.navbar {
  visibility: hidden;
  padding-bottom: 25px;
}

.navbar-scrolled {
  transition: 1s ease;
  visibility: visible;
  padding-bottom: 10px;
}

.nav-link {
  color: black !important;
}

/***** Animate *****/
.circle {
  background: #fff;
  /* clip-path: circle(5.0% at 50% 50%); */
  clip-path: circle(30.0% at 50% 50%);
  height: 50vh;
  transition: clip-path 1s;
  width: 50vh;
}

/* .circle:hover {
  clip-path: circle(30.0% at 50% 50%);
} */
